<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-burgundy mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=type&direction=asc" class="dropdown-item text-burgundy">By Wine Type</a>
                <a href="{% url 'products' %}?sort=variety&direction=asc" class="dropdown-item text-burgundy">By Wine Variety</a>
                <a href="{% url 'products' %}?sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item text-burgundy">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy mr-5" href="#" id="white-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                White
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="white-link">
                <a href="{% url 'products' %}?type=white&sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?type=white&sort=variety&direction=asc" class="dropdown-item text-burgundy">By Variety</a>
                <a href="{% url 'products' %}?type=white&sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?type=white&sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}?type=white" class="dropdown-item text-burgundy">All Whites</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy mr-5" href="#" id="red-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Red
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="red-link">
                <a href="{% url 'products' %}?type=red&sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?type=red&sort=variety&direction=asc" class="dropdown-item text-burgundy">By Variety</a>
                <a href="{% url 'products' %}?type=red&sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?type=red&sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}?type=red" class="dropdown-item text-burgundy">All Reds</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy mr-5" href="#" id="rose-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rose
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rose-link">
                <a href="{% url 'products' %}?type=rose&sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?type=rose&sort=variety&direction=asc" class="dropdown-item text-burgundy">By Variety</a>
                <a href="{% url 'products' %}?type=rose&sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?type=rose&sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}?type=rose" class="dropdown-item text-burgundy">All Rose</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy" href="#" id="sparkling-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sparkling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sparkling-link">
                <a href="{% url 'products' %}?type=sparkling&sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?type=sparkling&sort=variety&direction=asc" class="dropdown-item text-burgundy">By Variety</a>
                <a href="{% url 'products' %}?type=sparkling&sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?type=sparkling&sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}?type=sparkling" class="dropdown-item text-burgundy">All Sparkling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy" href="#" id="fortified-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fortified
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fortified-link">
                <a href="{% url 'products' %}?type=fortified&sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?type=fortified&sort=variety&direction=asc" class="dropdown-item text-burgundy">By Variety</a>
                <a href="{% url 'products' %}?type=fortified&sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?type=fortified&sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}?type=fortified" class="dropdown-item text-burgundy">All Fortified</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-burgundy" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections!
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?variety=mixed&sort=country&direction=asc" class="dropdown-item text-burgundy">By Country</a>
                <a href="{% url 'products' %}?variety=mixed&sort=price&direction=asc" class="dropdown-item text-burgundy">By Price</a>
                <a href="{% url 'products' %}?variety=mixed&sort=rating&direction=desc" class="dropdown-item text-burgundy">By Rating</a>
                <a href="{% url 'products' %}?variety=mixed" class="dropdown-item text-burgundy">All Collections</a>
            </div>
        </li>
    
    </ul>
</div>