{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-burgundy logo-font">Products</h2>
                {% for t in current_types %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?type={{ t.name }}">
                            <span class="p-2 mt-2 badge badge-white text-burgundy rounded-0 border border-dark">{{ t.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-90 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="row product-container col-10 offset-1">
                <div class="row mt-1 mb-2">

                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="variety_asc" {% if current_sorting == 'variety_asc' %}selected{% endif %}>Variety (A-Z)</option>
                                <option value="variety_desc" {% if current_sorting == 'variety_desc' %}selected{% endif %}>Variety (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'country_asc' %}selected{% endif %}>Country (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'country_desc' %}selected{% endif %}>Country (Z-A)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-burgundy mt-3 text-center text-md-left">
                            {% if search_term or current_varieties or current_sorting or current_types != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>

                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img-fluid mx-auto d-block" src="{{ product.image.url }}" alt="{{ product.product }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}default_bottle.png" alt="{{ product.product }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 text-center"><strong>{{ product.product }}</strong></p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col text-center">
                                            <p> <strong>{% if product.variety %}
                                                <small class="fas fa-leaf text-capitalize"> {{ product.variety.friendly_name }}</small>
                                                {% else %}
                                                <small class="">No Variety</small>
                                                {% endif %}</strong></p>
                                            <p>{% if product.appellation %}
                                                <small class="fas fa-tractor text-capitalize"> {{ product.appellation.friendly_name }}</small>
                                                {% else %}
                                                <small class="">No Appellation</small>
                                            {% endif %}</p>
                                            <p>{% if product.country %}
                                                <small class="fas fa-globe"> {{ product.country.friendly_name }}</small>
                                            {% else %}
                                                <small class="text-muted">No Country</small>
                                            {% endif %}</p>
                                            <p>{% if product.country %}
                                                <img src="{{ product.country.flag_url }}" class="img-fluid" alt="">
                                            {% else %}
                                                <small class="text-muted">No Flag</small>
                                            {% endif %}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-glass-champagne mr-1"></i> {{ product.rating }}</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none  mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:6 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}