{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hazy"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="img-fluid mx-auto d-block" src="{{ product.image.url }}" alt="{{ product.product }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}default_bottle.png" alt="{{ product.product }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0"><strong class="text-burgundy">{{ product.product }}</strong></p>
                    <p>{% if product.variety %}
                        <small class="text-capitalize fas fa-leaf"> {{ product.variety.friendly_name }}</small>
                        {% else %}
                        <small class="">No Variety</small>
                        {% endif %}</p>
                    <p>{% if product.appellation %}
                        <small class="text-capitalize fas fa-tractor"> {{ product.appellation.friendly_name }}</small>
                        {% else %}
                        <small class="">No Appellation</small>
                    {% endif %}</p>
                    <p>{% if product.country %}
                        <strong class="text-capitalize fas fa-globe"> {{ product.country.friendly_name }}</strong>
                        {% else %}
                        <small class="">No Country</small>
                        {% endif %}</p>
                    <p>{% if product.country %}
                        <img src="{{ product.country.flag_url }}" class="img-fluid" alt="">
                        {% else %}
                        <small class="">No Flag</small>
                        {% endif %}</p>
                    {% if product.rating %}
                        <small class="text-green"><i class="fas fa-glass-champagne mr-1"></i> {{ product.rating }}</small>
                    {% else %}
                        <small class="text-green">No Rating</small>
                    {% endif %}

                    <p>{% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    </p>
                    <p class="mt-3 text-burgundy"> <i class="fas fa-clipboard-list"></i>  {{ product.description }}</p>
                    <p class="lead mb-0 text-left font-weight-bold text-burgundy"><i class="fas fa-coins"></i>  £{{ product.price }}</p>

                </div>
            </div>

            <div class="row">
            <div class="col">
                <div class="product-details-container mb-5 mt-md-5">

                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12 text-burgundy text-end">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <div class="input-group float-end">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-burgundy rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control-sm qty_input text-burgundy" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">

                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-burgundy rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-burgundy rounded-0 text-uppercase mt-5 float-end" value="Add to Cart">
                                <a href="{% url 'products' %}" class="btn btn-outline-burgundy rounded-0 mt-5 float-end">
                                <span><i class="fas fa-door-open"></i>  <i class="far fa-hand-point-left">  </i>   </span>
                                <span class="text-uppercase">Keep Shopping!</span>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

                </div>
            </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}